@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$primary-font-family: 'Roboto', sans-serif;

// React Colour
$react-color: #00d8ff;
$react-heading-color: #61dafb;

// Page
$body-background-color: #2d2d2d;

// Header
$header-background-color: #fff;

// Footer
$footer-background-color: #231F20;
$footer-hr-color: #58595B;
$footer-nav-color: #919395;


body {
  background: $body-background-color;
  font-family: $primary-font-family;
  -webkit-font-smoothing: subpixel-antialiased;
}
.header {
  background: $header-background-color;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}
.brand {
  display: block;
  padding: 1.7rem 0;
  float: left;
  img {
    width: 36px;
    margin: 0 4px 4px 0;
  }
  a {
    width: 115px;
    height: 30px;
    display: block;
    color: $react-color;
    display: inline-block;
    font-size: 24px;
    &:hover {
      text-decoration: none;
    }
  }
}

.hero {
  text-align: center;
  padding-top: 10rem;
  min-width: 300px;
  height: 500px;
  margin: auto auto;
  h1 {
    color: $react-heading-color;
    font-size: 8rem;
  }
  h2 {
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
    color: white;
    font-weight: lighter;
  }
  .btn {
    font-size: 2rem;
    margin: 3.5rem 0 0.5rem 0;
  }
}

.footer {
  background: $footer-background-color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  hr {
    border-color: $footer-hr-color;
    margin: 0;
  }
}
.footer-brand {
  display: block;
  padding: 1.7rem 0;
  a {
    background: url('./images/react-logo.svg') no-repeat 0 0;
    background-size: 25px;
    width: 45px;
    height: 25px;
    display: block;
    margin: 0 auto;
  }
}
.footer-nav {
  font-size: 11px;
}
.footer-nav-list {
  margin: 10px 0;
  padding: 0;
}
.footer-nav-item {
  display: inline-block;
  color: $footer-nav-color;
}
.footer-nav-anchor {
  color: $footer-nav-color;
  &:hover {
    color: $footer-nav-color;
  }
}
